*.dll
*.dll.gen
*.gen
*.cbk

*.pdb
*.cbf
*.brp
*.dbg

*.cfg_networks.dll
*.cfg_networks.dll.gen
*.cfg_sysvars.dll
*.cfg_sysvars.dll.gen
*.co.dll
*.co.dll.gen
*.co.xml

*.stcfg
*.sttse

*.StationManagerData.xml
*.xpa

*.fbbin
*.vxcobin

*.vtcfg.bak
*.vtcfg.local

*_report.html
*_report.xml
*_report/
*.vtestreport*
Report_*.settings

portlink1.pre

.run/
.vio-system-ccds/
.vs/
_PythonTypeLib_*/
__pycache__/
SynchronizedFiles/
*_TypeLibraries/
